body {
    font-family: 'Merriweather', serif;
}

p {
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    transition: .5s;
    text-decoration: none !important;
}

input[type="submit"] {
    transition: .5s;
    cursor: pointer;
}

a.btn-blue {
    background: #3bafbe;
    border-radius: 25px;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

a.btn-blue:hover {
    background: #333;
    color: #fff;
}

input {
    background: #333333;
    color: #fff;
    border: 1px border;
    padding: 7px;
    border-radius: 5px;
}


/* ====================================================== */

#area-header {
    border-top: 5px solid #3bafbe;
    border-bottom: 1px solid #e2e2e2;
    padding: 20px 0;
}

#area-header .area-social {
    clear: both;
    width: 100%;
    margin-bottom: 20px;
}

#area-header .area-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#area-header .area-social ul li {
    display: inline-block;
    margin-right: 5px;
}

#area-header .area-social ul li a {
    color: #fff;
    background-color: #1f1f1f;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
}

#area-header .area-social ul li a:hover {
    background: #ee802f;
}


/* ====================================================== */

.area-search {
    text-align: right;
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}

.area-search input[type="submit"] {
    background: #3bafbe;
}

.area-search input[type="submit"]:hover {
    background: #ee802f;
}

#main-nav {
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
}

#main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-nav ul li {
    display: inline-block;
    margin-right: 5px;
}

#main-nav ul li a {
    display: block;
    font-size: 14px;
    padding: 5px 15px;
    color: #999999;
    text-transform: uppercase;
}

#main-nav ul li a:hover {
    color: #3bafbe;
}


/* ==================================================================== */

#banner-area {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px;
}

#banner-area .item img {
    width: 100%;
    height: auto;
}

.banner-content {
    display: table;
    width: 100%;
    height: 100%;
}

.banner-content .text-banner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    color: #999999;
}

.banner-content .text-banner h3 {
    color: #333;
}


/*========================== Box Slider =================================*/

.bx-wrapper {
    padding: 20px 10px;
}

.bx-wrapper .bx-controls-direction a {
    display: none;
}

.bx-wrapper .bx-pager {
    text-align: right;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    border: 1px solid #3bafbe;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #3bafbe;
}


/*========================================================================*/

.intro {
    padding: 20px 0 60px;
}

.intro .intro-content {
    padding: 10px;
    color: #999999;
}

.intro .intro-content h5 {
    font-size: 14px;
    color: #4a4a4a;
    padding: 10px 0;
}


/*===================================================*/

#services_area {
    border-top: 2px solid #e2e2e2;
    padding: 40px 0;
    color: #999999;
}

#services_area h2 {
    color: #7f7f7f;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    font-style: italic;
    line-height: 40px;
}

#services_area .service {
    margin-top: 40px;
}

.service .service-item {
    padding-left: 50px;
}

.service .service-item h5 {
    font-weight: 200;
    font-size: 15px;
    color: #3bafbe;
}

.service .service-item p {
    text-align: justify;
}


/*===========================================================*/

#contact {
    background: #252525;
    color: #fff;
    padding: 40px 20px;
}

#contact .content-contact p,
#contact .content-contact p a {
    margin-top: 20px;
    color: #999999;
}

#contact .content-contact.adress p {
    line-height: 7px;
}

#contact .content-contact.blog p {
    border-bottom: 1px solid #e2e2e2 !important;
    line-height: 30px;
}

#contact .content-contact.blog p a {
    color: #3bafbe;
}

#contact .content-contact.text a {
    float: right;
    margin-top: -25px;
    text-transform: capitalize;
}

#contact .content-contact.text a:hover {
    color: #3bafbe;
}