* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .5)), url("../images/background_food.jpg");
    background-size: cover;
    height: 600px;
}

.logo {
    color: #fff;
    font-family: 'Yesteryear', cursive;
    font-size: 40px;
}

.logo span.span-logo {
    font-weight: bold;
    color: #f2ac32;
    font-size: 50px;
    padding-left: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.nav-menu {
    list-style: none;
    color: #fff;
}

.nav-menu li {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.nav-menu li a i.fas.fa-shopping-bag {
    font-size: 20px !important;
    position: relative;
}


/* .nav-menu li a i.fas.fa-shopping-bag::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 13px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f2ac32;
    transition: all .4s ease-in-out;
}

.nav-menu li a i.fas.fa-shopping-bag:hover::before {
    background: #fff;
}

*/

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: color .4s ease-in-out;
}

.nav-menu li a:hover {
    color: #f2ac32;
}

.header-content {
    display: table;
    width: 100%;
    height: 50%;
    text-align: center;
    color: #fff;
}

.header-content .content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 50%;
}

.header-content .content .header-title-1 {
    color: #f2ac32;
    font-size: 44px;
    font-family: 'Rochester', cursive;
    margin-bottom: 15px;
}

.header-content .content .header-title-2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.header-content .content a.header-btn {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    background: #f2ac32;
    padding: 10px 20px;
    transition: all .4s ease-in-out;
}

.header-content .content a.header-btn:hover {
    background: rgb(196, 137, 36);
}


/**===================== Discover Section =======================================**/

.discover-section {
    height: 500px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.food-item {
    width: 200px;
    height: 300px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 70px;
}

.food-item.food-1 {
    background: url("../images/sandwich.jpg");
    background-size: cover;
    margin-top: 55px;
    box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.75);
}

.food-item.food-2 {
    background: url("../images/pasta.jpg");
    background-size: cover;
    box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
}

.food-item.food-text {
    position: relative;
    border: 2px solid #f2ac32;
}

.food-item.food-text .food-content {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    text-align: center;
    padding-top: 25px;
    height: 100%;
    width: 100%;
}

.food-item.food-text h1.food-title-1 {
    font-family: 'Yesteryear', cursive;
    color: #f2ac32;
    font-size: 30px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 7px;
}

.food-item.food-text h1.food-title-2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 7px;
}

.food-item.food-text p {
    font-size: 16px;
    color: rgb(99, 99, 99);
    padding: 10px 20px 0 20px;
    margin-bottom: 10px;
}

.food-item.food-text a {
    color: #f2ac32;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}


/**===================== Service Section =======================================**/

.spetialities-section {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../images/services.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.spetialities-middle {
    text-align: center;
    position: relative;
}

.spetiali-h1 {
    color: #f2ac32;
    font-size: 50px;
    font-family: 'Rochester', cursive;
    margin-bottom: 15px;
}

.spetiali-h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 100px;
    color: #fff;
}

.spetialities-img3,
.spetialities-img2,
.spetialities-img1 {
    width: 100%;
    height: 250px;
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
}

.spetialities-row {
    display: flex;
    justify-content: center;
}

.spetialities-col {
    width: 350px;
    margin-right: 20px;
    margin-left: 20px;
}

.spetialities-img1 {
    background-image: url("../images/brakfast-egs.jpg");
    background-size: cover;
}

.spetialities-img2 {
    background-image: url("../images/lunch.jpg");
    background-size: cover;
}

.spetialities-img3 {
    background-image: url("../images/dinner.jpg");
    background-size: cover;
}

.spetialities-h3 {
    font-size: 26px;
    color: #fff;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 50px;
}

.spetialities-overlay {
    background: rgb(241, 171, 50, 0.7);
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    opacity: 0;
    transition: all .4s ease-in-out;
}

.spetialities-overlay-border {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.spetialities-img1:hover .spetialities-overlay,
.spetialities-img2:hover .spetialities-overlay,
.spetialities-img3:hover .spetialities-overlay {
    opacity: 1;
}

.spetialities-middle::before {
    content: "";
    position: absolute;
    border-top: 100px solid #f0f0f0;
    border-right: 100vw solid transparent;
    top: -100px;
    left: 0;
}

.spetialities-middle::after {
    content: "";
    position: absolute;
    border-bottom: 100px solid #f0f0f0;
    border-left: 100vw solid transparent;
    bottom: -100px;
    right: 0;
}


/**===================== Spetial menu  Section =======================================**/

.spetial-menu-section {
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px;
    color: #000;
}

.spetial-menu-h1 {
    color: #f2ac32;
    font-size: 40px;
    font-family: 'Rochester', cursive;
    margin-bottom: 15px;
}

.spetial-menu-h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.spetial-menu-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.spetial-menu-h3,
.spetial-menu-small-h3 {
    width: 100%;
    text-transform: capitalize;
    font-family: 'Rochester', cursive;
    font-size: 22px;
    letter-spacing: 2px;
}

.spetial-menu-h4,
.spetial-menu-small-h4 {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.separator,
.separator-orange {
    width: 40px;
    display: inline-block;
    margin: 15px auto;
}

.separator {
    border-bottom: 2px solid #fff;
}

svg.svg-inline--fa.fa-ice-cream.fa-w-14,
svg.svg-inline--fa.fa-pizza-slice.fa-w-16,
svg.svg-inline--fa.fa-hamburger.fa-w-16,
svg.svg-inline--fa.fa-utensils.fa-w-13 {
    width: 100%;
    font-size: 50px;
    margin-bottom: 10px;
}

svg.svg-inline--fa.fa-hamburger.fa-w-16,
svg.svg-inline--fa.fa-utensils.fa-w-13 {
    color: #f2ac32;
}

.spetial-menu-p {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    padding: 30px 20px;
    width: 100%;
}

.spetial-menu-col {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.col-large {
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.col-large-1,
.col-large-3 {
    background: #f2ac32;
    color: #fff;
    justify-content: center;
    position: relative;
}

.col-large-1::after,
.col-large-3::after {
    content: "";
    position: absolute;
    top: 30px;
    right: -20px;
    /* width: 10px; */
    /* height: 0; */
    border-top: 15px solid transparent;
    border-left: 20px solid #f2ac32;
    border-bottom: 15px solid transparent;
}

.col-large-2 {
    background: url("../images/ice-cream.jpg");
    background-size: cover;
}

.col-large-2 {
    background: url("../images/ice-cream.jpg");
    background-size: cover;
}

.col-large-4 {
    background: url("../images/pizza.jpg");
    background-size: cover;
}

.col-small {
    width: 50%;
    height: 225px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.col-small-1,
.col-small-3 {
    background: #fff;
}

.col-small-2 {
    background: url("../images/pasta2.jpg");
    background-size: cover;
    background-position: center;
}

.col-small-4 {
    background: url("../images/sandwich.jpg");
    background-size: cover;
    background-position: center;
}

.spetial-menu-small-h3 {
    color: #f2ac32;
}

.spetial-menu-small-h4 {
    color: #000;
}

.separator-orange {
    border-bottom: 2px solid #f2ac32;
}